_build/
.opam/
.opam-oxcaml/
_opam/
*.install
.pi/
.reference/
.backlog/
backlog/
.scratch/h2-0.13.0/
.scratch/opam-pins/
journal.md
.motel-data/
bench/fixtures/cache/*.bin
bench/runtime_overhead_ts/node_modules/
bench/runtime_overhead_zio/.scala-build/
bench/runtime_overhead_zio/.bsp/
http-testsuite/results/
http-testsuite/config/certs/*.pem
http-testsuite/config/certs/*.key
http-testsuite/config/certs/*.csr
http-testsuite/config/certs/*.srl
http-testsuite/config/certs/*.cnf

# Autoresearch local artifacts (not tracked)
autoresearch.md
autoresearch.sh
autoresearch.checks.sh
autoresearch.ideas.md
autoresearch.jsonl
.scratch/hpack_ox/
.scratch/h2_ox/

# Local automation state
.auto/
.hill-climbing/
